<template>
  <div class="product-list">
    <md-table
      v-model="productList"
      md-sort="id"
      md-sort-order="asc"
      md-card
    >
      <md-table-toolbar>
        <h1 class="md-title">Products</h1>
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Picture" v-bind:class="{ 'sold-out': item.available < 1 }">
          <img
            :src="'data:image/png;base64,' + item.picture"
            alt="Picture"
            height="100"
            v-on:click="onPictureClick(item.id)"
            width="100"
          >
        </md-table-cell>

        <md-table-cell md-label="Name" md-sort-by="name">
          {{ item.name }}
        </md-table-cell>

        <md-table-cell md-label="Category" md-sort-by="category">
          {{ item.category }}
        </md-table-cell>

        <md-table-cell md-label="Quantity" md-sort-by="quantity">
            {{ item.available }}
        </md-table-cell>

        <md-table-cell md-label="Price" md-sort-by="price">
          {{ item.price.toFixed(2) }}€
        </md-table-cell>

        <md-table-cell md-label="In Cart">
          {{ getInCart(item.id) }}
        </md-table-cell>

      </md-table-row>
    </md-table>
  </div>
</template>

<script>
    export default {
        name: 'ProductList',
        data: function() {
            return {
                soldOutClass: 'sold-out'
            };
        },
        props: {
            productList: {
                type: Array,
                default: function () {
                    return []
                }
            },
            cart: {
                type: Array,
                default: function () {
                    return []
                }
            }
        },
        methods: {
            onPictureClick (productId) {
                const product = this.productList.find(p => p.id === productId);
                if (product.quantity - this.getInCart(productId) > 0) {
                    this.$emit('productAddedToCart', {productId});
                }
            },
            getInCart(productId) {
                let index = this.cart.findIndex(itm => itm.productId == productId);
                return index === -1 ? 0 : this.cart[index].quantity;
            }
        }
    }
</script>

<style lang="scss" scoped>
.sold-out {
    filter: grayscale(100%) brightness(80%);;
}
</style>
