<template>
  <div class="product-list">
    <md-table
      v-model="cart"
      md-sort="id"
      md-sort-order="asc"
      md-card
    >
      <md-table-toolbar>
        <h1>Payment processed!</h1><br />&nbsp;
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">

        <md-table-cell md-label="Name" md-sort-by="name">
          {{ getProductName(item.productId) }}
        </md-table-cell>

        <md-table-cell md-label="Quantity" md-sort-by="quantity">
          {{ item.quantity }}
        </md-table-cell>

        <md-table-cell md-label="Price" md-sort-by="price">
          {{ getProductPrice(item.productId).toFixed(2) }}€
        </md-table-cell>

      </md-table-row>
    </md-table>

    <div class="receipt-row">
      <h3>Total: {{ total.toFixed(2) }}€</h3>
    </div>

    <div class="receipt-row">
      <h3>Received payment:: {{ parseFloat(payment).toFixed(2) }}€</h3>
    </div>

    <div class="receipt-row">
      <h3>Change: {{ change.toFixed(2) }}€</h3>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'ProductList',
        props: {
            cart: {
                type: Array,
                default: function () {
                    return []
                }
            },
            productList: {
                type: Array,
                default: function () {
                    return []
                }
            },
            change: null,
            payment: null,
            total: null
        },
        methods: {
            getProductName (productId) {
                const product = this.productList.find(p => p.id === productId);
                return product.name;
            },
            getProductPrice (productId) {
                const product = this.productList.find(p => p.id === productId);
                return product.price;
            }
        }
    }
</script>

<style lang="scss" scoped>
.receipt-row {
    min-width: 100%;
    padding-right: 60px;
    text-align: end;
}
</style>
