<template>
  <div class="page-container" style="min-height: 100vh;">
    <md-tabs md-sync-route style="min-height: 100vh;">

      <md-tab id="tab-cart" md-label="Cart" to="/cart" exact>
        <ProductList
          v-on:productAddedToCart="productAddedToCart"
          v-bind:cart="cart"
          v-bind:product-list="productList" />

        <div class="total-div">
          <h3> TOTAL: {{ total.toFixed(2) }}€ </h3>
        </div>

        <md-card class="md-layout-item md-size-100 md-alignment-center-right">
          <md-card-content class="md-gutter md-alignment-center-right">
            <md-card-actions class="md-layout-item">

              <md-button class="md-primary" :disabled="loading" v-on:click="reset()">
                Reset
              </md-button>

              <md-button class="md-primary" :disabled="loading || showReceipt" v-on:click="checkout()">
                Checkout
              </md-button>

            </md-card-actions>
          </md-card-content>
        </md-card>

        <md-dialog-prompt
          :md-active.sync="showCheckout"
          @md-confirm="processCheckout"
          md-confirm-text="Process payment"
          md-input-maxlength="6"
          md-input-placeholder="Amount paid"
          md-title="Enter payment amount, use . for decimals"
          v-model="payment"
        >
          <md-dialog-title>Checkout</md-dialog-title>
          <md-dialog-actions>
            <md-button
              class="md-primary md-raised"
              @click="processCheckout">
                Process payment
            </md-button>
          </md-dialog-actions>
        </md-dialog-prompt>

      </md-tab>

      <md-tab v-if="showReceipt" id="tab-receipt" md-label="Receipt" to="/receipt" exact>
        <Receipt
          v-bind:cart="cart"
          v-bind:change="change"
          v-bind:payment="payment"
          v-bind:product-list="productList"
          v-bind:total="total"
        />
      </md-tab>

    </md-tabs>

    <md-snackbar :md-active.sync="snack">
      ERROR: {{ snackResponse }}
    </md-snackbar>

  </div>
</template>

<script>
    import ProductList from "@/components/ProductList";
    import Receipt from "@/components/Receipt";
    import config from "@/constants/config";

    export default {
        name: 'TabContent',
        components: {
            ProductList,
            Receipt
        },
        data() {
            return {
                cart: [],
                change: false,
                loading: false,
                note: '',
                payment: 0,
                productList: [],
                showCheckout: false,
                showReceipt: false,
                snack: false,
                snackResponse : null,
                total: 0,
                transactionId: null
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.fetchProducts();
            })
        },
        methods: {
            fetchProducts() {
                const baseURI = config.BASE_URL + '/products?limit=' + config.ITEMS_PER_QUERY;
                this.loading = true;
                this.$http.get(baseURI)
                    .then((result) => {
                        this.productList = result.data.products.map(p => {
                            p.available = p.quantity - p.reservedQuantity;
                            return p;
                        });
                    })
                    .catch(e => {
                        this.snack = true;
                        this.snackResponse = e.message;
                    })
                    .finally(() => this.loading = false);
            },
            updateProducts() {
                let baseURI = config.BASE_URL + '/products?limit=' + config.ITEMS_PER_QUERY +
                    '&fields=id,quantity,reservedQuantity';
                this.loading = true;
                this.$http.get(baseURI)
                    .then((result) => {
                        this.productList = this.productList.map(p => {
                            const updatedProduct = result.data.products.find(u => u.id === p.id);
                            p.quantity = updatedProduct.quantity;
                            p.reservedQuantity = updatedProduct.reservedQuantity;
                            p.available = updatedProduct.quantity - updatedProduct.reservedQuantity;
                            return p;
                        });
                    })
                    .catch(e => {
                        this.snack = true;
                        this.snackResponse = e.message;
                    })
                    .finally(() => this.loading = false);
            },
            processTransaction(cancel) {
                this.loading = true;
                if (this.payment && parseFloat(this.payment) - this.total < 0) {
                    this.snack = true;
                    this.snackResponse = "Payment sum must be equal or larger than total";
                    return;
                }
                Promise.resolve()
                    .then(() => {
                        if (this.transactionId === null) {
                            return this.createTransaction();
                        } else {
                            return this.updateTransaction(cancel)
                        }
                    })
                    .then((result) => {
                        if (cancel) {
                            this.cart = [];
                            this.total = 0;
                        } else {
                            this.cart = result.transactionData.transactionDetails;
                            this.change = result.transactionData.change;
                            this.total = result.transactionData.total;
                        }
                        if (result.transactionError) {
                            this.snack = true;
                            this.snackResponse = result.errorDetails;
                            return;
                        }
                        if (this.payment) {
                            this.showReceipt = true;
                            this.$router.push({ path: 'receipt' })
                        }
                    })
                    .then(() => this.updateProducts())
                    .catch(e => {
                        this.snack = true;
                        this.snackResponse = e.message;
                    })
                    .finally(() => this.loading = false);
            },
            updateTransaction(cancel) {
                const baseURI = config.BASE_URL + '/transaction/' + this.transactionId;
                return this.$http.put(baseURI, this.getPostData(cancel), {
                    headers: {
                        'Content-Type': 'application/json'
                    }})
                    .then((result) => {
                        return result.data;
                    });
            },
            createTransaction() {
                const baseURI = config.BASE_URL + '/transactions';
                return this.$http.post(baseURI, this.getPostData(), {
                    headers: {
                        'Content-Type': 'application/json'
                    }})
                    .then((result) => {
                        this.transactionId = result.data.transactionData.id;
                        return result.data;
                    });
            },
            getPostData(cancel) {
                let postData = {
                    note: this.note,
                    transactionDetails: this.cart
                }
                if (this.cancelTransaction) {
                    postData.cancelTransaction = true;
                } else if (this.payment) {
                    postData.receivedPayment = this.payment;
                }
                if (cancel) {
                    postData.cancelTransaction = true;
                }
                return postData;
            },
            productAddedToCart(data) {
                if (this.showReceipt) {
                    this.resetData();
                }
                const { productId } = data;
                let index = this.cart.findIndex(p => p.productId === productId);
                if (index === -1) {
                    this.cart.push({ productId, quantity: 1 })
                } else {
                    this.cart[index].quantity += 1;
                }
                this.processTransaction();
            },
            reset() {
                this.processTransaction(true);
                this.resetData();
            },
            checkout() {
                this.showCheckout = true;
            },
            processCheckout() {
                this.processTransaction();
            },
            resetData() {
                this.cart = [];
                this.change = null;
                this.payment = null;
                this.showReceipt = false;
                this.total = null;
                this.transactionId = null;
            }
        },
        rules: [
            // ... other rules omitted

            // this will apply to both plain `.scss` files
            // AND `<style lang="scss">` blocks in `.vue` files
            {
                test: /\.scss$/,
                use: [
                    'vue-style-loader',
                    'css-loader',
                    'sass-loader'
                ]
            }
        ]
    }
</script>

<style lang="scss" scoped>
    .md-app {
        height: 100%;
        border: 1px solid rgba(#000, .12);
    }
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }
    .total-div {
        min-width: 100%;
        text-align: end;
        padding-right: 60px;
    }
    .md-dialog .md-dialog-container {
        max-width: 768px;
    }
</style>
